/* ! RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

/* ! UTILS */

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 1200px;
  max-width: 100%;
}

.btn {
  background-color: #0061ff;
  border: 1px solid #0061ff;
  color: white;
  padding: 7px 15px;
  font-size: 1rem;
}

.btn.lg {
  padding: 10px 15px;
}

.container h2 {
  font-size: 2.5rem;

  /* *DEBUG */
  margin: 50px auto;
  background-color: goldenrod;
  border: 1px dashed black;
}

/* ! HEADER */

/* # PAGE HEADER */

.page-header {
  background-color: white;
  color: #202020;
  line-height: 35px;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
}

.header-block {
  display: flex;
  justify-content: flex-start;
}

.header-nav li {
  display: inline-block;
  padding: 0 2rem;
  font-size: 1rem;
}

.logo-header {
  width: 150px;
}

/* # HERO SECTION */

.hero-section {
  padding-top: 10rem;
  background-color: #b4d0e7;
}

.hero-section > .container {
  width: 1500px;
}

.hero-title {
  font-size: 5rem;
  margin-right: 4rem;
}

.hero-blocks {
  display: flex;
  line-height: 1.6rem;
  color: #202020;
  /* position: relative;
  top: 6rem; */
}

.lg-hero-block {
  flex-basis: 70%;
  position: relative;
  top: 6rem;
}

.sm-hero-block {
  flex-basis: 30%;
}

.sm-hero-block > p {
  font-size: 1.1rem;
  margin-top: 6rem;
  margin-right: 3rem;
}

.sm-hero-block > .btn {
  margin-top: 2rem;
}

.sm-hero-block > span {
  font-size: 1.1rem;
  margin-top: 2rem;
  display: block;
}

.sm-hero-block > .arrow-down {
  margin-top: 10rem;
  font-size: 1.7rem;
  color: black;
}

/* ! MAIN */

/* # PLAN CARD SECTION */

.plan-card-section > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}

.plan-card-section > .label {
  /* *DEBUG */
  margin: 50px auto;
}

.plan-card {
  flex-grow: 1;

  /* *DEBUG */
  background-color: goldenrod;
  border: 1px dashed black;
  height: 800px;
}

.plan-card-bottom {
  /* *DEBUG */
  margin-top: 80px;
  height: 300px;
  width: 100%;
  background-color: goldenrod;
  border: 1px dashed black;
}

/* # IMG BOX SECTION */

.img-box-section > .container {
  display: flex;

  /* *DEBUG */
  margin-top: 80px;
}

.lg-block {
  width: 60%;

  /* *DEBUG */
  background-color: goldenrod;
  border: 1px dashed black;
}

.sm-block {
  width: 40%;

  /* *DEBUG */
  background-color: goldenrod;
  border: 1px dashed black;
}

/* # TUTORIAL CARD SECTION */

.tutorial-card-section > .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
}

.tutorial-card {
  flex-basis: 30%;

  /* *DEBUG */
  background-color: goldenrod;
  border: 1px dashed black;
}

/* # TEAM SECTION */

/* # DESIGNIT SECTION */

/* # FREE TRIAL SECTION */

/* # FAQ SECTION */

/* !FOOTER */

/* # FOOTER NAV */

/* # LOWER FOOTER */
