/* ! RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

/* ! UTILS */

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 1200px;
  max-width: 100%;
}

.btn {
  background-color: #0061ff;
  border: 1px solid #0061ff;
  color: white;
  padding: 5px 15px;
  font-size: 1rem;
}

/* ! HEADER */

/* # PAGE HEADER */

.page-header {
  background-color: white;
  color: #353535;
  line-height: 30px;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
}

.header-block {
  display: flex;
  justify-content: flex-start;
}

.header-nav li {
  display: inline-block;
  padding: 0 2rem;
  font-size: 1rem;
}

/* # HERO SECTION */

.hero-section {
  padding-top: 150px;

  /* *DEBUG */
  background-color: #b4d0e7;
}

.hero-section > .container {
  width: 1500px;

  /* *DEBUG */
  border: 1px dashed black;
}

.hero-title {
  padding-bottom: 50px;
  font-size: 5rem;
}

.hero-blocks {
  display: flex;
}

.sm-hero-block {
  flex-basis: 30%;

  /* *DEBUG */
  background-color: goldenrod;
  border: 1px dashed black;
}

.lg-hero-block {
  flex-basis: 70%;

  /* *DEBUG */
  background-color: brown;
  border: 1px dashed black;
}

/* ! MAIN */

/* # PLAN CARD SECTION */

.plan-card-section > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}

.plan-card-section > h2 {
  font-size: 3rem;

  /* *DEBUG */
  margin: 50px auto;
  background-color: goldenrod;
  border: 1px dashed black;
}

.plan-card-section > .label {
  /* *DEBUG */
  margin: 50px auto;
}

.plan-card {
  flex-grow: 1;

  /* *DEBUG */
  background-color: goldenrod;
  border: 1px dashed black;
  height: 800px;
}

.plan-card-bottom {
  /* *DEBUG */
  margin-top: 80px;
  height: 300px;
  width: 100%;
  background-color: goldenrod;
  border: 1px dashed black;
}
